.coments {
    padding: 100px 0;
    background: linear-gradient(180deg, #eaf0ff 0%, #f6f9ff 100%);
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        // gap: 132px;
    }
    &__info {
        max-width: 333px;
        margin-left: auto;
    }
    &__info-overhead {
        font-family: $roboto;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3d4f9f;
        margin-bottom: 31px;
    }
    &__info-title {
        font-family: $quicksand;
        font-weight: 500;
        font-size: 36px;
        line-height: 45px;
        color: #3d4f9f;
        margin-bottom: 14px;
    }
    &__info-description {
        font-family: $open_sans;
        font-weight: 600;
        font-size: 12px;
        line-height: 23px;
        letter-spacing: 0.03em;
        color: #a4abc8;
        max-width: 323px;
    }
    &__slider {
        width: 50%;
        margin-left: auto;
    }
    &__slider-item {
        padding: 50px 70px;
        background: #fff;
        border: 1px solid #d8e3fe;
        box-shadow: 0px 5px 50px #f3f5fa;
        max-width: 423px;
        margin: 0 32px;
        margin-bottom: 78px;
    }
    &__slider-text {
        font-family: $roboto;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #676f95;
        max-width: 283px;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            width: 62px;
            height: 63px;
            left: 35%;
            bottom: -80px;
            z-index: 3;
            background-image: url(../images/slider__text-img.png);
        }
    }
}
