.footer {
    padding: 93px 0;
    &__copyright {
        font-family: $quicksand;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #aeb8d0;
        margin-top: 9px;
        margin-left: 100px;
    }
}
